<div id="user-options" class="user-options">
	<div class="options-first">
		<h4>SEARCH</h4>
		<i  ui-sref="dashboard.search" class="glyphicon glyphicon-search option-icon" aria-hidden="true"></i>
	</div>
	<div class="options-first">
		<h4>FAVOURITE</h4>
		<i class="glyphicon glyphicon-heart option-icon"></i>
	</div>
	<div class="options-first">
		<h4>SELL</h4>
		<i ui-sref="dashboard.sell"  class="glyphicon glyphicon-usd option-icon"></i>
	</div>
	<div class="options-first">
		<h4>NEWS</h4>
		<i ui-sref="dashboard.newNews" class="glyphicon glyphicon-open-file option-icon"></i>
	</div>
	<div class="options-first">
		<h4>NEWS HISTORY</h4>
		<i class="glyphicon glyphicon-level-up option-icon"></i>
	</div>
	<div class="options-first">
		<h4>NEW CAR</h4>
		<i class="glyphicon glyphicon-road option-icon"></i>
	</div>
	<div class="options-end">
		<h4>CAR HISTORY</h4>
		<i class="glyphicon glyphicon-time option-icon"></i>
	</div>
</div>