<div style="margin-bottom:25px;" class="container">
	<div class="row" id="cmp-img"></div>
	<div class="row">
		<div class="col-sm-12">
			<table  class="table table-responsive table=striped">
					<tr id="heading">
						<th style="text-align:center">Specifications</th>
					</tr>
					<tr id="brand">
						<td style="text-align:center">Brand</td>
					</tr>
					<tr id="name">
						<td style="text-align:center">Name</td>
					</tr>
					<tr id="model">
						<td style="text-align:center">Model</td>
					</tr>
					<tr id="year">
						<td style="text-align:center">Year</td>
					</tr>
					<tr id="gear">
						<td style="text-align:center">Gear</td>
					</tr>
					<tr id="seat">
						<td style="text-align:center">Seats</td>
					</tr>
					<tr id="type">
						<td style="text-align:center">Car Type</td>
					</tr>
					<tr id="color">
						<td style="text-align:center">Color</td>
					</tr>
					<tr id="owner">
						<td style="text-align:center">Owner Type</td>
					</tr>
					<tr id="fuel">
						<td style="text-align:center">Fuel</td>
					</tr>
					<tr id="milage">
						<td style="text-align:center">Milage</td>
					</tr>
					<tr id="cc">
						<td style="text-align:center">Engine CC</td>
					</tr>
					<tr id="price">
						<td style="text-align:center">Price</td>
					</tr>
			</table>
		</div>
	</div>
</div>