<div class="set-middle car-data-edit">
		<h2 align="center">Enter the following details</h2>
		<div class="container-fluid">
			<div class="row">
			<form>
				<div class="col-sm-6">
				
					<select required class="form-control form-box" ng-model="data.brand">
						<option value="">--Select a Brand--</option>
						<option value="honda">Honda</option>
						<option value="maruti suzuki">Maruti Suzuki</option>
						<option value="hundai">Hundai</option>
						<option value="toyota">Toyota</option>
						<option value="benz">Benz</option>
						<option value="bmw">BMW</option>
						<option value="ford">Ford</option>
						<option value="volkswagen">Volkswagen</option>
						<option value="volvo">Volvo</option>
					</select>
					<input required placeholder="Car Name" class="form-control form-box" type="text" ng-model="data.carName" />
					<input required placeholder="Car Model"  class="form-control form-box" type="text" ng-model="data.carModel" />
					<input required placeholder="Model Year"  class="form-control form-box" type="text" ng-model="data.carYear" />
					<input required placeholder="No. of Gears" class="form-control form-box" type="text" ng-model="data.carGear">
					<input required placeholder="Seating Capacity" class="form-control form-box" type="text" ng-model="data.seat">
				</div>
				<div class="col-sm-6">
					<select required class="form-control form-box" ng-model="data.type">
						<option value="">--Select Car Type--</option>
						<option value="hatchback">Hatchback</option>
						<option value="sedans">Sedans</option>
						<option value="muv">MUV</option>
						<option value="suv">SUV</option>
						<option value="luxury">luxury</option>
						<option value="hybrids">Hybrids</option>
						<option value="minivans">Minivans</option>
						<option value="convertibles">Convertibles</option>
						<option value="coupe">Coupe</option>
						<option value="diesel engines">Diesel Engines</option>
						<option value="wagons">Wagons</option>
						<option value="pickup trucks">Pickup Trucks</option>
					</select>
					<select required class="form-control form-box" ng-model="data.color">
						<option value="" selected="selected">--Select a Color--</option>
						<option value="white">White</option>
						<option value="black">Black</option>
						<option value="grey">Grey</option>
						<option value="red">Red</option>
						<option value="brown">Brown</option>
						<option value="blue">Blue</option>
					</select>
					<select required class="form-control form-box" ng-model="data.owner">
						<option value="" selected="selected">--Select Ownership--</option>
						<option value="first">First-Hand</option>
						<option value="second">Second-Hand</option>
						<option value="third">Third-Hand</option>
					</select>
					<select required class="form-control form-box" ng-model="data.fuelType">
						<option value="" selected="selected">--Select Fuel Type--</option>
						<option value="petrol">Petrol</option>
						<option value="diesel">Diesel</option>
						<option value="cng">CNG</option>
						<option value="electric">Electric</option>
					</select>
					<input required class="form-control form-box" placeholder="Milage" type="text" ng-model="data.milage" />
					<input required class="form-control form-box" placeholder="Engine CC" type="text" ng-model="data.cc" >
				</div>
				<div class="col-sm-12">
					<input required type="text" class="form-control form-box" style="width: 100%;" ng-model="data.price" placeholder="Price">
					<textarea required placeholder="Address" ng-model="data.address" style="width:100%;" class="form-control form-box"></textarea>
					Upload a photo: <input class="form-control form-box" type="file" id="myFile">
					<button ng-click="sellNew()" type="submit" class="btn btn-success">Sell Car</button>
				</div>
				</form>
			</div>
		</div>
	</div>