/*from tab name size reducer*/
#flight_icons{
  width: 35px;
}
#flight_ico_span{
  padding-right: 10px;
}
#flight_search_ico{
  width: 21px;
}
/*total div lowering */
#flight-total-div{
      padding-top: 6%;
}

#flight_inherit{
  display: inline-flex;
}
#flight_search{
  text-align: center;
}
#flight_search_btn{
  background-color: rgb(0, 0, 0);
    color: rgb(248, 182, 135);
    font-weight: 500;
    border-radius: 50px;
    font-size: 18px;
}

/*flightsdiv responsive backgrnd full*/
#flightsdiv {
  height: 100vh;
}

#flightsdiv {
  background-image: url(images/nightflight.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #222222;
}

/* home bg img For mobile devices */
@media only screen and (max-width: 767px) {
  #flightsdiv {
    background-image: url(images/nightflight.jpg);
  }
}

#from_city,#to_city,#travel_date{
  border-radius: 50px;
}
