<!doctype html>
<html ng-app="myApp">

<head>
  <script src="https://cdn.rawgit.com/SlexAxton/messageformat.js/v1.0.2/messageformat.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.js"></script>
  <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.16.0/angular-translate.js"></script>
  <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-interpolation-messageformat/2.16.0/angular-translate-interpolation-messageformat.js"></script>
  <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-cookie/2.16.0/angular-translate-storage-cookie.js"></script>
  <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-local/2.16.0/angular-translate-storage-local.js"></script>
  <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-url/2.16.0/angular-translate-loader-url.js"></script>
  <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-static-files/2.16.0/angular-translate-loader-static-files.js"></script>
  <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-handler-log/2.16.0/angular-translate-handler-log.js"></script>
  <script src="script.js"></script>
</head>

<body>
  <div ng-controller="Ctrl">
    <p>{{ 'HEADLINE' | translate }}</p>
    <p>{{ 'PARAGRAPH' | translate }}</p>

    <p translate>PASSED_AS_TEXT</p>
    <p translate="PASSED_AS_ATTRIBUTE"></p>
    <p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
    <p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
    <p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht' }"></p>

    <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
    <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
  </div>
</body>

</html>
