#navhead {
    background-color: #000000;
    border-color: #000;
}
td {
  text-align: center;
}
.table>thead:first-child>tr:first-child>th {
    text-align: center;
}

.tableheader{
  padding-bottom: 2%;
}
.tabletitle {
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
}
.tablelogo{
  width: 8%;
}
