@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
#customfont{
  font-family: 'Great Vibes', cursive;
}
#ttr_menu.navbar {
    height: 80px;
    min-height: 80px;
    border-radius: 0px 0px 0px 0px;
    border: solid #E7E7E7;
    border: solid rgba(231,231,231,1);
    border-width: 0px 0px 0px 0px;
    box-shadow: none;
}
.navbar {
    height: 80px;
    min-height: 80px;
    border-radius: 0px 0px 0px 0px;
    border: solid #E7E7E7;
    border: solid rgba(231,231,231,1);
    border-width: 0px 0px 0px 0px;
    box-shadow: none;
}
.navbar-default {
    background-color: #222222;
    background: rgba(34,34,34,0.85);
    background-clip: padding-box;
    border-radius: 0px 0px 0px 0px;
    border: solid #E7E7E7;
    border: solid rgba(231,231,231,1);
    border-width: 0px 0px 0px 0px;
    box-shadow: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 0px;
    box-sizing: content-box;
}
