/*Great Vibes font import*/

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
/*SantechHeader Styles*/

#customfont {
  font-family: 'Great Vibes', cursive;
  font-size: xx-large;
  color: rgba(248, 182, 135, 1);
}

/*Nav bar border reduction*/

.navbar-inverse {
  border-radius: 0px;
}
