/*Great Vibes font import*/

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

/*SantechHeader Styles*/

#brandhear {
  font-family: 'Great Vibes', cursive;
  font-size: xx-large;
  color: rgba(248, 182, 135, 1);
}


/*Nav bar border reduction*/

.navbar-inverse {
  border-radius: 0px;
}

.navbar {
  margin-bottom: 0;
}

.customheadertags {
  font-family: Droid Sans, Lobster, Vollkorn;
  font-size: 20px;
}


/*Navigation account dropdown */

.dropbtn {
  background-color: transparent;
  color: rgba(248, 182, 135, 1);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #222222;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}


/*navigation user icons*/

#customicons {
  width: 23px;
}


/*user credentials pane*/

#LoginForm, #registerForm {
  padding-top: 2%;
}

#iconinherit {
  display: inherit;
}

.close {
  color: red;
  opacity: 1;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body {
  text-align: -webkit-center;
  border-radius: inherit;
}

.nav-tabs {
  border: 0px;
  margin-left: 3%;
}

.modal-header {
  background-color: #222222;
  padding: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-tabs>li>a {
  color: white;
}

.nav-tabs>li>a:hover {
  background-color: #222222;
}


/*homediv backgrnd full*/
#homediv {
  height: 100vh;
}
#homediv {
  /* Location of the image */
  background-image: url(images/nightflight.jpg);
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #464646;
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */

@media only screen and (max-width: 767px) {
  #homediv {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/nightflight.jpg);
  }
}
