<div class="container-fluid" id="bookingdiv">
  <div div class="row col-md-12" id="booking-total-div">
    <table id="booking_table">
      <tr>
        <th colspan="2" id="booking_flight_name">{{flightDetail.flight_name}}</th>
      </tr>
      <tr>
        <th class="booking_table_headers">{{ 'FROM' | translate }}</th>
        <td class="booking_table_data">{{flightDetail.flight_from}} ( {{flightDetail.flight_depature_time}} )</td>
      </tr>
      <tr>
        <th class="booking_table_headers">{{ 'TO' | translate }}</th>
        <td class="booking_table_data">{{flightDetail.flight_to}} ( {{flightDetail.flight_arrival_time}} )</td>
      </tr>
      <tr>
        <th class="booking_table_headers">{{ 'Date_of_journey' | translate }}</th>
        <td class="booking_table_data">{{travelDate| date: "dd-MM-yyyy"}}</td>
      </tr>
      <tr>
        <th class="booking_table_headers">{{ 'Amount' | translate }}</th>
        <td class="booking_table_data" id="price_color">₹ {{flightDetail.flight_price}}</td>
      </tr>
    </table>

    <a>
      <button class="btn btn-danger btn-sm" id="reschedule">{{ 'Re_Schedule' | translate }}</button>
    </a>

    <p id="passenger_note">{{ 'Enter_Passenger_Details' | translate }}</p>

    <form role="form" class="form-horizontal" #passengerDetailForm="ngForm" (ngSubmit)="submitPassengerDetail(passengerCredentials)" ngNativeValidate>
      <div class="form-group input-group col-sm-12">
        <div class="col-sm-6" id="iconinherit">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" #passengerName="ngModel" name="from" [(ngModel)]="passengerCredentials.passengerName" placeholder="{{ 'Name' | translate }}" pattern="[A-Za-z\s]{3,20}" title="Passenger name must contain Min-3 to Max-20 Alphabets" required/>
        </div>
        <div class="col-sm-12" id="passenger_age_div">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input type="number" class="form-control" id="passenger_age" #passengerAge="ngModel" name="from" [(ngModel)]="passengerCredentials.passengerAge" placeholder="{{ 'Age' | translate }}" min="1" required/>
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-sm" id="Booking_page_paybtn"><img src="../../assets/images/coins.png" alt="" id="coinsicon"/> {{ 'PayNow' | translate }}</button>
    </form>
  </div>
</div>
