<div class="container-fluid" id="paymentdiv">
  <div class="col-md-3 col-sm-1"></div>
  <div class="col-md-6 col-sm-10" id="axisdiv">
    <div class="col-sm-12" id="axis_head">
      <img src="../assets/images/axisimg.png" id="axisLogo" />
    </div>
    <div>
      <table id="payment_table">
        <tr>
          <th class="paymentTableHead">{{ 'Account_Holder' | translate }}</th>
          <td class="paymentTableData">{{userName}}</td>
        </tr>
        <tr>
          <th class="paymentTableHead">{{ 'Account_Number' | translate }}</th>
          <td class="paymentTableData">SB00003112017</td>
        </tr>
        <tr>
          <th class="paymentTableHead">{{ 'Account_Balance' | translate }}</th>
          <td class="paymentTableData">₹ 2,75,000</td>
        </tr>
        <tr>
          <th class="paymentTableHead">{{ 'Payee_Detail' | translate }}</th>
          <td class="paymentTableData">SanTech Corp.</td>
        </tr>
        <tr>
          <th class="paymentTableHead">{{ 'Amount_to_be_Paid' | translate }}</th>
          <td class="paymentTableData">₹ {{flightDetail.flight_price}}</td>
        </tr>
      </table>
    </div>
    <div id="pymntbtndiv">
      <button type="submit" (click)="paynow()" id="paymentBtn">{{ 'Pay' | translate }}</button>
    </div>
  </div>
  <div class="col-md-3 col-sm-1"></div>
</div>
