<div id="user-options" class="user-options">
	<div class="options-first">
		<h4>SEARCH</h4>
		<i class="glyphicon glyphicon-search option-icon" aria-hidden="true"></i>
	</div>
	<div class="options-first">
		<h4>FAVOURITE</h4>
		<i class="glyphicon glyphicon-heart option-icon"></i>
	</div>
	<div class="options-first">
		<h4>SELL</h4>
		<i class="glyphicon glyphicon-usd option-icon"></i>
	</div>
	<div class="options-first">
		<h4>NEW INSURANCE</h4>
		<i class="glyphicon glyphicon-plus option-icon"></i>
	</div>
	<div class="options-end">
		<h4>INSURANCE HISTORY</h4>
		<i class="glyphicon glyphicon-lock option-icon"></i>
	</div>
</div>