<body  ng-controller="addrowcontroller">
<div>          
		<ul type="none">
          <li>id</li>
           <li><input type="text" ng-model="id" /></li>
         </ul>
					
         <ul type="none">
          <li>name</li>
          <li><input type="text" ng-model="name" /></li>
          </ul>
					
		<ul type="none">
          <li>city</li>
           <li><input type="text" ng-model="city" /></li>
         </ul></span>
         <ul type="none">
          <li></li><li><button ng-click="addRecord()"> Add Record </button></li>
         </ul>
		 <ul type="none">
          <li></li><li><button ng-click="cancel()"> cancel</button></li>
         </ul>
		
</div>
<script src="addrow.js"></script> 
</body>