<div class="container-fluid" id="flightsdiv">
  <div class="row" id="flight-total-div">
    <div class="col-sm-3 col-md-3" id="flight_search">

      <form role="form" class="form-horizontal col-sm-12 col-md-12" #flightSearchForm="ngForm" (ngSubmit)="flightsearch(searchCredentials)" ngNativeValidate>

        <div class="form-group input-group col-sm-12">
          <div class="col-sm-12 col-md-12" id="flight_inherit">
            <span id="flight_ico_span"><img src="../../assets/images/takeoffblck.png" alt="" id="flight_icons" /></span>
            <select class="form-control" id="from_city" #flightFrom="ngModel" name="from" [(ngModel)]="searchCredentials.from" required>
              <!-- <option value="" label="{{ 'FROM' | translate }}" disabled selected="selected"></option> -->
              <option value="-1" disabled>FROM</option>
              <option *ngFor="let city of cities">
                {{city}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group input-group col-sm-12">
          <div class="col-sm-12 col-md-12 " id="flight_inherit">
            <span id="flight_ico_span"><img src="../../assets/images/landingblack.png" alt="" id="flight_icons" /></span>
            <select id="to_city" class="form-control" #flightTo="ngModel" name="to" [(ngModel)]="searchCredentials.to" required>
              <!-- <option value="" disabled="true" [selected]="!flight_to">TO</option> -->
              <option value="-1" disabled>TO</option>
              <option *ngFor="let city of cities">{{city}}</option>
            </select>
          </div>
        </div>

        <!-- <div class="form-group input-group col-sm-12">
          <div class="col-sm-12 col-md-12 " id="flight_inherit">
            <span id="flight_ico_span"><img src="../../assets/images/landingblack.png" alt="" id="flight_icons" /></span>
            <select class="form-control" id="to_city" [(ngModel)]="flight_to" required name="flight_to">
              <option value="" label="{{ 'TO' | translate }}" disabled selected="selected"></option>
              <ng-container *ngFor="let city in cities">
                <option *ngIf="tmpLanguage.id!=languages.id"  [ngValue]="tmpLanguage.id" >{{tmpLanguage.identificatie}}</option>
              </ng-container>
              <option value="" disabled="true" [selected]="!flight_to">{{ 'TO' | translate }}</option>
              <ng-container *ngFor="let city of cities">
                <option>
                  {{city}}
                </option>
              </ng-container>
            </select>
          </div>
        </div> -->

        <div class="form-group input-group col-sm-12">
          <div class="col-sm-12 col-md-12 " id="flight_inherit">
            <span id="flight_ico_span"><img src="../../assets/images/calendar.ico" alt="" id="flight_icons" /></span>
            <input type="date" class="form-control" id="travel_date" #flightDate="ngModel" name="date" [(ngModel)]="searchCredentials.date" placeholder="yyyy-MM-dd" max="2018-05-01" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <span id="flight_ico_span"></span>
            <button type="submit" class="btn btn-sm" id="flight_search_btn"><img src="../../assets/images/search.ico" alt="" id="flight_search_ico" />{{ 'Search' | translate }}</button>
          </div>
        </div>

      </form>
    </div>
    <div class="col-sm-9 col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
