html, body {
  height: 100%;
}

#userdiv {
  height: -webkit-fill-available;
  background-color: black;
}

#userDetailDiv {
  text-align: center;
}

#welcomenote {
  padding-top: 5%;
  font-family: 'Berkshire Swash', cursive;
  color: rgba(248, 182, 135, 1);
  font-size: -webkit-xxx-large;
}

#bookingHistorytotal {
  background-color: black;
}

#myBookingBtn {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #f8b687;
  border-radius: 50px;
  color: black;
  font-size: larger;
  font-family: -webkit-pictograph;
  font-weight: 700;
}


/*bookingHistory*/

#ticketdiv {
  margin-top: 1.5%;
  height: 335PX;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1.5%;
  border-radius: 50px;
  border-style: dotted;
  background-color: #ffffff;
}

#ticketHead {
  font-family: 'Merienda One', cursive;
  height: 60px;
  background-color: #75edff;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  padding-left: 5%;
  font-size: xx-large;
  padding-top: 0.5%;
}

#airlinesName {
  font-size: xx-large;
  font-family: 'Bree Serif', serif;
}

#ticketID {
  font-size: -webkit-xxx-large;
  font-family: 'Libre Barcode 128 Text', cursive;
  text-align: right;
}

#emptyspace {
  /*height: 10vh;*/
}

#internaltcktdiv {
  padding-top: 2%;
}
#bottom_filler{
  height: 30px;
    background-color: black;
    margin-top: -27px;
}
#DetailHead {
  font-family: initial;
  font-size: small;
  font-weight: 600;
  color: dimgrey;
}

.ticketData {
  font-family: 'Patua One', cursive;
  font-size: x-large;
}
