<div class="set-middle car-data-edit">
		<h2 align="center">Enter the following details</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<input type="text" class="form-control form-box" ng-model="news.heading" placeholder="Heading">
					<textarea class="form-control form-box" ng-model="news.content" style="width:100%; height:400px;" placeholder="Content"></textarea>
					Upload a photo: <input type="file" id="myFile" class="form-control form-box" />
					<button ng-click="publishNews()" class="btn btn-success form-box">Publish</button>
				</div>
			</div>
		</div>
	</div>