	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="set-middle" style="width:500px; margin-bottom: 10px; text-align: center; word-wrap: break-word;" >{{news.heading}}</h1>
			</div>
			<div class="col-sm-12">
				<center><img class="set-middle" style="max-height:500px; max-width:500px;" src="{{news.image}}"></center>
			</div>
			<div class="row">
				<div style="margin: 20px 0;" class="col-sm-12">
					<p style=" width:500px;" class="set-middle car-data-edit">{{news.content}}</p>
				</div>
			</div>
		</div>
	</div>