
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 filter-region">
				<input type="text" id="search-box" ng-change="searchTheTerm()" ng-model="searchTerm"  placeholder="Search" class="form-control form-box">
				<div class="filter-ops">
					<h4>Select Usage</h4>
					<input ng-click="updateFilter()" type="checkbox" ng-model="used" ng-click="usedClicked()"> Used<br>
					<input ng-click="updateFilter()" type="checkbox" ng-model="newv"> New<br>
				</div>
				
				<div class="filter-ops">
					<h4>Select Fuel Type</h4>
					<input ng-click="updateFilter()" type="checkbox" ng-model="petrol"> Petrol<br>
					<input ng-click="updateFilter()" type="checkbox" ng-model="diesel"> Disel<br>
					<input ng-click="updateFilter()" type="checkbox" ng-model="electric"> Electric<br>
					<input ng-click="updateFilter()" type="checkbox" ng-model="cng"> CNG<br>
				</div>
				
			</div>
			<div class="col-sm-9">
				<div class="col-sm-12" id="search-area" style="padding-top: 10px;">
					<div style="display:inline-block;width:25%;height:25%;margin:20px;" ng-repeat="car in cars" >
						<div class="thumbnail" >
							
							<img src="{{car.imageUrl}}" alt="Nature" style="width:100%">
							<div class="caption">
							<button  ng-click="selectCar(car.id)">{{initcap(car.brand)}} {{initcap(car.name)}}</button>
							
							<p>{{car.year}}</p>
							<h5 style="text-align: right;">
								<span ng-click="setCompare(car.id,initcap(car.brand)+' '+initcap(car.name))" style="background-color: #afffd7; cursor:pointer;">Compare</span>
								<span style="background: #eaeaea;">&#8377 {{car.price}}</span>
							</h5>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
