	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="set-middle" style="width:500px; margin-bottom: 10px; text-align: center; word-wrap: break-word;" >{{insurance.name}}</h1>
			</div>
			<div class="row">
				<div style="margin: 20px 0;" class="col-sm-12">
					<table style="width:500px;" class="table table-responsive set-middle table-striped">
						<tr>
							<td>Declared Value</td>
							<td>{{insurance.val}}</td>
						</tr>
						<tr>
							<td>Premium</td>
							<td>{{insurance.prem}}</td>
						</tr>
						<tr>
							<td>Zero Depreciation</td>
							<td>{{insurance.zDep}}</td>
						</tr>
						<tr>
							<td>Claims per year</td>
							<td>{{insurance.claim}}</td>
						</tr>
						<tr>
							<td>Own Damage Coverage</td>
							<td>{{insurance.own}}</td>
						</tr>
						<tr>
							<td>Owner Damage Coverage</td>
							<td>{{insurance.owner}}</td>
						</tr>
						<tr>
							<td>Third Party Liability</td>
							<td>{{insurance.lib}}</td>
						</tr>
						<tr>
							<td>Third Party Coverage Damage</td>
							<td>{{insurance.cd}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>