<div id="user-options" class="user-options">
	<div class="options-first">
		<h4>SEARCH</h4>
		<i ng-click="searchPage()" class="glyphicon glyphicon-search option-icon" aria-hidden="true"></i>
	</div>
	<div class="options-first">
		<h4>SELL</h4>
		<i ng-click="sellPage()" class="glyphicon glyphicon-usd option-icon"></i>
	</div>
	<div class="options-end">
		<h4>CARS</h4>
		<i ui-sref="dashboard.yours" class="glyphicon glyphicon-time option-icon"></i>
	</div>
</div>
<div class="col-sm-12">
	<h2>News and Offers</h2>
	<div class="row">
		<div style="display:inline-block;width:20%;height:25%;margin:20px;"  ng-repeat="news in dailyNews" >
			<div class="thumbnail" ng-click="showNews(news.id)">
				<img src="{{news.image}}" alt="images/noimg.jpg" style="width:100%">
				<div class="caption" >
					<h3  >{{news.heading}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-12">
	<h2>Insurance</h2>
	<div class="row">
		<div style="display:inline-block;width:20%;height:25%;margin:20px;" ng-repeat="insurance in insurances" >
			<div class="thumbnail" ng-click="showInsurance(insurance.id)">
				<h1 style="padding: 10px; ">{{insurance.name}}</h1>
				<div class="caption">
					<h4>Value: {{insurance.val}}</h4>
					<h5>Premium: {{insurance.prem}}</h5>
				</div>
			</div>
		</div>
	</div>
</div>