

#from_city, #to_city, #travel_date {
  border-radius: 50px;
}

#full_table {
  width: 100%;
}

#flight_table {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.80);
  font-size: large;
  font-weight: 700;
}

.table-hover tbody tr:hover td {
  background: black;
}

#flightrow {
  border-bottom-style: double;
}

.flight_name_col {
  /* font-size: xx-large; */
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#flight_name_head {
  font-size: large;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.flight_from_col {
  font-size: medium;
}

#flight_from_head {
  font-size: large;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.flight_dt_col {
  font-family: 'Berkshire Swash', cursive;
  font-size: xx-large;
}

#flight_dt_head {
  font-size: large;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.flight_at_col {
  font-family: 'Berkshire Swash', cursive;
  font-size: xx-large;
}

#flight_at_head {
  font-size: large;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.flight_to_col {
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
}

#flight_to_head {
  font-size: large;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

.flight_price_col {
  font-family: 'Berkshire Swash', cursive;
  font-size: x-large;
  padding-left: 10px;
  padding-right: 10px;
}

#flight_price_head {
  font-size: large;
  text-align: center;
  font-family: 'Chelsea Market', cursive;
}

#flight_headers {
  background-color: rgb(0, 0, 0);
  color: #f8b684;
}

.flight_book_col {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.08);
}

#arrowicon {
  width: 35px;
  padding-top: 14px;
}

#flight_book {
  color: black;
  border-color: black;
  font-size: inherit;
  border-radius: 10px;
  font-weight: 600;
  background-color: #fbb95b;
}

#passporticon {
  width: 29px;
}
